<% merch_item = data.blog_merch.detect { |item| item.name === current_page.data.merch_banner }%>
<% if merch_item %>
  <div class="slpBlogMerchBanner slp-max-w-screen-sm slp-relative slp-my-96 slp-mx-auto">
    <div
    class="slp-flex slp-justify-center slp-p-8 slpBlogMerchBanner__confetti--left slp-absolute slp-top-0 slp-left-0"
  >
      <svg width="56" height="70" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_d)">
          <path
          d="M25.564 49.933a.676.676 0 01-.095.822l-7.714 7.907-9.935-4.979a.733.733 0 01-.395-.752l.488-3.334.97-6.577c.04-.322.514-.429.651-.093l3.075 5.92 6.71-1.098.97-6.578c.04-.32.477-.413.652-.093l3.074 5.92 1.549 2.935z"
          fill="#FCA326"
        ></path>
          <path
          d="M47.12 1.088a1 1 0 011.633.494l2.776 10.625a1 1 0 01-1.257 1.21l-10.97-3.314a1 1 0 01-.377-1.703l8.194-7.312z"
          fill="#27AE60"
        ></path>
        </g>
        <defs>
          <filter
          id="filter0_d"
          x="0"
          y=".834"
          width="55.563"
          height="68.667"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
            <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
            <feColorMatrix
            in="SourceAlpha"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          ></feColorMatrix>
            <feOffset dy="4"></feOffset>
            <feGaussianBlur stdDeviation="2"></feGaussianBlur>
            <feColorMatrix
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
          ></feColorMatrix>
            <feBlend
            in2="BackgroundImageFix"
            result="effect1_dropShadow"
          ></feBlend>
            <feBlend
            in="SourceGraphic"
            in2="effect1_dropShadow"
            result="shape"
          ></feBlend>
          </filter>
        </defs>
      </svg>
    </div>
    <div
    class="slpBlogMerchBanner__content slp-bg-white slp-rounded-lg slp-shadow-md slp-p-32 slp-flex"
  >
      <div>
        <h4
        class="slpBlogMerchBanner__title slp-text-xxl slp-leading-tight slp-font-normal slp-mb-20 slp-text-grayscale-333"
      >
          <%= merch_item.banner_body_title %>
        </h4>
        <p
        class="slpBlogMerchBanner__body slp-hidden sm:slp-block slp-text-base slp-font-normal slp-text-grayscale-333"
      >
          <%= merch_item.banner_body_content %>
        </p>
        <a
        href="<%= merch_item.destination_url %>"
        class="slp-min-w-full sm:slp-min-w-min slp-btn slp-btn--secondary"
        style="color: white; text-decoration: none;"
      >
          <%= merch_item.cta_text %>
        </a>
      </div>
      <% if merch_item.banner_image_source %>
        <img
      src="<%= merch_item.banner_image_source %>"
      class="slpBlogMerchBanner__image slp-hidden sm:slp-block slp-ml-8"
      style="max-width: 177px;"
    />
        <% end %>
      </div>
      <div
    class="slpBlogMerchBanner__shadow slp-hidden sm:slp-block slp-rounded-lg slp-h-full slp-bg-grayscale-highlight slp-absolute slp-top-9 slp-left-9 slp--z-1"
  ></div>
      <div
    class="slp-flex slp-justify-center slp-p-8 slpBlogMerchBanner__confetti--right slp-absolute slp-top-full slp-right-0"
  >
        <svg
      width="80"
      height="78"
      viewBox="0 0 80 78"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
          <path
        d="M1.30102 65.6288C1.36553 64.8841 2.19436 64.4709 2.82789 64.8675L12.1364 70.6945C12.7984 71.1089 12.751 72.0885 12.052 72.437L1.79555 77.5509C1.09651 77.8995 0.285643 77.3479 0.353068 76.5697L1.30102 65.6288Z"
        fill="#2F80ED"
      ></path>
          <circle cx="74.5" cy="10.5" r="5.5" fill="#9B51E0"></circle>
          <path
        d="M3.82968 0.832616C3.62769 0.3444 4.22243 -0.0826533 4.62048 0.264773L15.1 9.41138C15.3783 9.65434 15.3061 10.1049 14.9657 10.2487L10.6988 12.0511C10.4451 12.1583 10.3258 12.4505 10.4321 12.7046L13.9821 21.195C14.1868 21.6846 13.5884 22.1139 13.1902 21.763L1.59394 11.5454C1.31848 11.3027 1.3898 10.8558 1.72712 10.7109L6.52914 8.64781C6.78044 8.53985 6.89835 8.25 6.79379 7.99727L3.82968 0.832616Z"
        fill="#FCA326"
      ></path>
        </svg>
      </div>
    </div>
  <% end %>
